@charset "utf-8";
/* CSS Document */

#note{
	color: #666666;
	font-size: 12px;
	margin: -100px auto;
	padding: 4px;
	text-align: center;
	/*text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);*/
	width: 800px;
}

.demo-text {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;

  display: table;
  height: auto;

  color: #fcfcfc;
  text-transform: uppercase;
  text-align: center;

  font-size: 8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;

  letter-spacing: -0.02em;
  line-height: 1.2em;
}
#hint{
	position:absolute;
	left:200px;
	top:95px;
	width:40%;
	color:#999;
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	font-weight:bold;
	}